.services-section-bottom{
    display: flex;
    flex-direction: row;
}



/* .services-section-bottom>h3 {
    padding-top: 130px;
    padding-left: 45px;

} */
/* span{
    background-color: blue;
} */